In [11]:
import geopandas as gpd

output_shapefile_path = '../generated_files/us_mx_combined_shapefile.shp'
# load shape file
combined_gdf = gpd.read_file(output_shapefile_path)

In [12]:
combined_gdf.columns

Index(['COUNTY_MUN', 'geometry'], dtype='object')

In [13]:
combined_gdf = combined_gdf.set_crs(epsg=4326)
combined_gdf = combined_gdf.to_crs(epsg=3857)
combined_gdf['centroid'] = combined_gdf.geometry.centroid
centroids_gdf = gpd.GeoDataFrame(combined_gdf[['COUNTY_MUN']], geometry=combined_gdf['centroid'], crs='EPSG:3857')

In [14]:
centroids_gdf.head()

  COUNTY_MUN                           geometry
0    US31039   POINT (-10774324.21 5148500.775)
1    US53069  POINT (-13740557.816 5827143.725)
2    US35011  POINT (-11623078.872 4074960.965)
3    US31109  POINT (-10763231.613 4980634.761)
4    US31129  POINT (-10914562.695 4891639.035)

In [15]:
centroids_gdf.rename(columns={'COUNTY_MUN': 'COUNTY_MUNI_CODE'}, inplace=True)
centroids_gdf = centroids_gdf.to_crs(epsg=4326)
# Extract latitude and longitude
centroids_gdf['Latitude'] = centroids_gdf.geometry.y
centroids_gdf['Longitude'] = centroids_gdf.geometry.x
centroids_gdf.head()

  COUNTY_MUNI_CODE                     geometry   Latitude   Longitude
0          US31039    POINT (-96.7874 41.91664)  41.916641  -96.787401
1          US53069  POINT (-123.43353 46.29124)  46.291238 -123.433531
2          US35011  POINT (-104.41189 34.34307)  34.343066 -104.411894
3          US31109   POINT (-96.68775 40.78469)  40.784687  -96.687755
4          US31129    POINT (-98.04718 40.1766)  40.176603  -98.047185

In [17]:
cols_to_retain = ['COUNTY_MUNI_CODE', 'Latitude', 'Longitude']
centroids_final = centroids_gdf[cols_to_retain]
centroids_final.head()

  COUNTY_MUNI_CODE   Latitude   Longitude
0          US31039  41.916641  -96.787401
1          US53069  46.291238 -123.433531
2          US35011  34.343066 -104.411894
3          US31109  40.784687  -96.687755
4          US31129  40.176603  -98.047185

In [19]:
centroids_final.to_csv('../generated_files/centroids_us_mx.csv', index=False)