In [ ]:
import os
import pickle

base_folder = "../aux_data"

files = os.listdir(base_folder)
files = [f for f in files if f.endswith(".pkl")]
files = [f for f in files if f.startswith("df_monthly_")]
# files = [f for f in files if "new_counties" not in f]
files.sort()

# Load the first file as the base dataframe
with open(os.path.join(base_folder, files[0]), 'rb') as f:
    df_final = pickle.load(f)

df_final.head()

,date,COUNTY_MUNI_CODE,c_latitude,c_longitude,nearest_latitude,nearest_longitude,d2m
0,1979-01-01,04001,35.413149,-109.48906,35.5,-109.5,263.668823
1,1979-02-01,04001,35.413149,-109.48906,35.5,-109.5,265.072144
2,1979-03-01,04001,35.413149,-109.48906,35.5,-109.5,269.075195
3,1979-04-01,04001,35.413149,-109.48906,35.5,-109.5,269.229492
4,1979-05-01,04001,35.413149,-109.48906,35.5,-109.5,273.067383

In [ ]:
import pandas as pd

# Merge progressively to save memory
for fname in files[1:]:
    file_path = os.path.join(base_folder, fname)
    with open(file_path, 'rb') as f:
        df_next = pickle.load(f)

    # Find common columns to merge on
    common_cols = list(set(df_final.columns) & set(df_next.columns))
    if not common_cols:
        raise ValueError(f"No common columns between {fname} and current df.")

    # Merge on the common columns
    df_final = pd.merge(df_final, df_next, on=common_cols, how='outer')

    # Free memory
    del df_next

out_folder ="../main_data/"
with open(os.path.join(out_folder, "combined_v2.pkl"), "wb") as f:
    pickle.dump(df_final, f)

In [9]:
df_final

,date,COUNTY_MUNI_CODE,c_latitude,c_longitude,nearest_latitude,nearest_longitude,d2m,q250,q500,q850,...,t850,tp,u10,u250,u500,u800,v10,v250,v500,v850
0,1979-01-01,MX07087,14.639659,-92.227091,14.75,-92.25,291.123901,0.000059,0.000448,0.008919,...,290.678192,0.000063,0.485566,6.756042,0.689019,-0.048969,-0.057992,1.930099,2.812814,-0.361254
1,1979-02-01,MX07087,14.639659,-92.227091,14.75,-92.25,292.529175,0.000080,0.000546,0.009689,...,291.192352,0.000055,0.313192,17.870495,2.881191,0.359344,0.041700,8.353561,1.157578,-0.164945
2,1979-03-01,MX07087,14.639659,-92.227091,14.75,-92.25,293.438477,0.000065,0.000765,0.010383,...,291.437988,0.000031,0.640063,14.681020,2.353791,0.392288,-0.030813,1.940238,-0.555156,0.046616
3,1979-04-01,MX07087,14.639659,-92.227091,14.75,-92.25,294.875977,0.000078,0.001223,0.011228,...,291.769287,0.001730,0.399260,10.517100,1.309416,0.978546,-0.046583,1.628005,-0.517393,-0.222970
4,1979-05-01,MX07087,14.639659,-92.227091,14.75,-92.25,296.030273,0.000188,0.002346,0.012208,...,291.944336,0.002707,0.052532,7.008941,-0.188865,0.488342,0.120086,0.657447,-2.056707,0.292043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2002555,2025-04-01,38023,48.815256,-103.487382,48.75,-103.5,270.449951,0.000025,0.000601,0.003005,...,274.890381,0.002132,0.132199,17.843212,10.391541,2.032669,-0.552498,-1.879044,-3.410877,-1.435704
2002556,2025-05-01,38023,48.815256,-103.487382,48.75,-103.5,276.507812,0.000045,0.001001,0.004216,...,281.795166,0.003515,-0.685320,3.551823,3.370277,-0.539719,0.208214,0.274200,0.604187,0.571596
2002557,2025-06-01,38023,48.815256,-103.487382,48.75,-103.5,281.486328,0.000060,0.001176,0.005934,...,285.911865,0.001204,0.849383,24.866348,13.953394,2.606247,-0.081676,4.357295,-0.264936,-0.994904
2002558,2025-07-01,38023,48.815256,-103.487382,48.75,-103.5,285.937744,0.000086,0.001456,0.007917,...,288.258301,0.003586,-0.901484,24.281891,15.022051,0.519455,-0.237159,2.962654,-0.724818,0.460999
2002559,2025-08-01,38023,48.815256,-103.487382,48.75,-103.5,285.935547,0.000082,0.001252,0.007959,...,289.011963,0.001276,-0.222469,16.507629,10.250775,1.901001,0.773556,-2.536804,-1.850327,1.204346