In [3]:
import pandas as pd

pii_file = "../generated_files/vsv_county_noPII_coded.csv"
df_pii = pd.read_csv(pii_file)
df_pii.head()

,ONSET_YEAR,ONSET_MONTH,ONSET_DAY,COUNTRY,STATE,COUNTY_MUNI,SEROTYPE,SPECIES,COUNTY_MUNI_CODE
0,1981,9.0,NaN,MEX,JAL,acatlan de juarez,NaN,NaN,MX14002
1,1981,2.0,NaN,MEX,NAY,ahuacatlan,NaN,NaN,MX18002
2,1981,11.0,NaN,MEX,JAL,amacueca,NaN,NaN,MX14004
3,1981,4.0,NaN,MEX,VER,angel r. cabada,NaN,NaN,MX30015
4,1981,4.0,NaN,MEX,VER,angel r. cabada,NaN,NaN,MX30015

In [4]:
from datetime import datetime

years = df_pii.ONSET_YEAR.tolist()
months = df_pii.ONSET_MONTH.tolist()

datetimes = []
for year, month in zip(years, months):
    datetimes.append(datetime(year, int(month), 1))

df_pii["TIME"] = datetimes
df_pii.head()

,ONSET_YEAR,ONSET_MONTH,ONSET_DAY,COUNTRY,STATE,COUNTY_MUNI,SEROTYPE,SPECIES,COUNTY_MUNI_CODE,TIME
0,1981,9.0,NaN,MEX,JAL,acatlan de juarez,NaN,NaN,MX14002,1981-09-01
1,1981,2.0,NaN,MEX,NAY,ahuacatlan,NaN,NaN,MX18002,1981-02-01
2,1981,11.0,NaN,MEX,JAL,amacueca,NaN,NaN,MX14004,1981-11-01
3,1981,4.0,NaN,MEX,VER,angel r. cabada,NaN,NaN,MX30015,1981-04-01
4,1981,4.0,NaN,MEX,VER,angel r. cabada,NaN,NaN,MX30015,1981-04-01

In [5]:
df_pii.drop(columns=["ONSET_MONTH", "ONSET_DAY"], inplace=True)
# Move TIME to the first column
df_pii = df_pii[["TIME"] + [col for col in df_pii.columns if col != "TIME"]]
df_pii.head()

,TIME,ONSET_YEAR,COUNTRY,STATE,COUNTY_MUNI,SEROTYPE,SPECIES,COUNTY_MUNI_CODE
0,1981-09-01,1981,MEX,JAL,acatlan de juarez,NaN,NaN,MX14002
1,1981-02-01,1981,MEX,NAY,ahuacatlan,NaN,NaN,MX18002
2,1981-11-01,1981,MEX,JAL,amacueca,NaN,NaN,MX14004
3,1981-04-01,1981,MEX,VER,angel r. cabada,NaN,NaN,MX30015
4,1981-04-01,1981,MEX,VER,angel r. cabada,NaN,NaN,MX30015

In [6]:
df_pii.to_csv("../generated_files/vsv_county_noPII_coded_v2.csv", index=False)