In [1]:
import pickle

with open("../main_data/combined_v3.pkl", "rb") as f:
    df = pickle.load(f)

df.head()

,date,COUNTY_MUNI_CODE,c_latitude,c_longitude,nearest_latitude,nearest_longitude,d2m,q250,q500,q850,...,tp,u10,u250,u500,u800,v10,v250,v500,v850,cases
0,1979-01-01,MX07087,14.639659,-92.227091,14.75,-92.25,291.123901,0.000059,0.000448,0.008919,...,0.000063,0.485566,6.756042,0.689019,-0.048969,-0.057992,1.930099,2.812814,-0.361254,0
1,1979-02-01,MX07087,14.639659,-92.227091,14.75,-92.25,292.529175,0.000080,0.000546,0.009689,...,0.000055,0.313192,17.870495,2.881191,0.359344,0.041700,8.353561,1.157578,-0.164945,0
2,1979-03-01,MX07087,14.639659,-92.227091,14.75,-92.25,293.438477,0.000065,0.000765,0.010383,...,0.000031,0.640063,14.681020,2.353791,0.392288,-0.030813,1.940238,-0.555156,0.046616,0
3,1979-04-01,MX07087,14.639659,-92.227091,14.75,-92.25,294.875977,0.000078,0.001223,0.011228,...,0.001730,0.399260,10.517100,1.309416,0.978546,-0.046583,1.628005,-0.517393,-0.222970,0
4,1979-05-01,MX07087,14.639659,-92.227091,14.75,-92.25,296.030273,0.000188,0.002346,0.012208,...,0.002707,0.052532,7.008941,-0.188865,0.488342,0.120086,0.657447,-2.056707,0.292043,0

In [2]:
import pandas as pd

pii_file = "../generated_files/vsv_county_noPII_coded_v2.csv"
pii_df = pd.read_csv(pii_file)
pii_df.head()

,TIME,ONSET_YEAR,COUNTRY,STATE,COUNTY_MUNI,SEROTYPE,SPECIES,COUNTY_MUNI_CODE
0,1981-09-01,1981,MEX,JAL,acatlan de juarez,NaN,NaN,MX14002
1,1981-02-01,1981,MEX,NAY,ahuacatlan,NaN,NaN,MX18002
2,1981-11-01,1981,MEX,JAL,amacueca,NaN,NaN,MX14004
3,1981-04-01,1981,MEX,VER,angel r. cabada,NaN,NaN,MX30015
4,1981-04-01,1981,MEX,VER,angel r. cabada,NaN,NaN,MX30015

In [3]:
new_sp_columns = ["ser_IN", "ser_NJ", "ser_unknown", "sp_bovine", "sp_camelid", "sp_caprine", "sp_equine", "sp_ovine", "sp_porcine", "sp_suilline", "sp_rhinocerus", "sp_unknown"]



for col in new_sp_columns:
    df[col] = 0

df.head()

,date,COUNTY_MUNI_CODE,c_latitude,c_longitude,nearest_latitude,nearest_longitude,d2m,q250,q500,q850,...,ser_unknown,sp_bovine,sp_camelid,sp_caprine,sp_equine,sp_ovine,sp_porcine,sp_suilline,sp_rhinocerus,sp_unknown
0,1979-01-01,MX07087,14.639659,-92.227091,14.75,-92.25,291.123901,0.000059,0.000448,0.008919,...,0,0,0,0,0,0,0,0,0,0
1,1979-02-01,MX07087,14.639659,-92.227091,14.75,-92.25,292.529175,0.000080,0.000546,0.009689,...,0,0,0,0,0,0,0,0,0,0
2,1979-03-01,MX07087,14.639659,-92.227091,14.75,-92.25,293.438477,0.000065,0.000765,0.010383,...,0,0,0,0,0,0,0,0,0,0
3,1979-04-01,MX07087,14.639659,-92.227091,14.75,-92.25,294.875977,0.000078,0.001223,0.011228,...,0,0,0,0,0,0,0,0,0,0
4,1979-05-01,MX07087,14.639659,-92.227091,14.75,-92.25,296.030273,0.000188,0.002346,0.012208,...,0,0,0,0,0,0,0,0,0,0

In [4]:
sp_dict = {"bovine": "sp_bovine",
            "camelid-alpaca": "sp_camelid",
            "camelid-llama": "sp_camelid",
            "caprine": "sp_caprine",
            "equine": "sp_equine", 
            "ovine": "sp_ovine",
            "porcine": "sp_porcine",
            "suilline": "sp_suilline",
            "rhinoceros": "sp_rhinocerus",
            "nan": "sp_unknown"
            }
ser_dict = { "IN": "ser_IN",
             "NJ": "ser_NJ",
             "nan": "ser_unknown"
             }

In [6]:
for i in range(len(pii_df)):
    if i % 10 == 0:
        print(f"Processing row {i} of {len(pii_df)}")
    time = pii_df.loc[i, "TIME"]
    county_muni_code = pii_df.loc[i, "COUNTY_MUNI_CODE"]
    ser = str(pii_df.loc[i, "SEROTYPE"])
    species = str(pii_df.loc[i, "SPECIES"])

    if species == "bovine and equine":
        index_num = df.loc[
        (df["date"] == time) &
        (df["COUNTY_MUNI_CODE"] == county_muni_code),
        ].index.values[0]
        df.at[index_num, "sp_bovine"] += 1
        df.at[index_num, "sp_equine"] += 1
        continue
    
    alloted_col_ser = ser_dict[ser]
    alloted_col_sp = sp_dict[species]
    try:
        index_num = df.loc[
        (df["date"] == time) &
        (df["COUNTY_MUNI_CODE"] == county_muni_code)
        ].index.values[0]
        df.at[index_num, alloted_col_ser] += 1
        df.at[index_num, alloted_col_sp] += 1
    except:
        print(f"Error at time: {time} and county_muni_code: {county_muni_code}, ser: {ser}, species: {species}")

Processing row 0 of 5981
Processing row 10 of 5981
Processing row 20 of 5981
Processing row 30 of 5981
Processing row 40 of 5981
Processing row 50 of 5981
Processing row 60 of 5981
Processing row 70 of 5981
Processing row 80 of 5981
Processing row 90 of 5981
Processing row 100 of 5981
Processing row 110 of 5981
Processing row 120 of 5981
Processing row 130 of 5981
Processing row 140 of 5981
Error at time: 1982-06-01 and county_muni_code: US04025, ser: NJ, species: bovine
Processing row 150 of 5981
Processing row 160 of 5981
Processing row 170 of 5981
Processing row 180 of 5981
Error at time: 1983-09-01 and county_muni_code: US56013, ser: NJ, species: equine
Processing row 190 of 5981
Processing row 200 of 5981
Processing row 210 of 5981
Processing row 220 of 5981
Processing row 230 of 5981
Processing row 240 of 5981
Processing row 250 of 5981
Processing row 260 of 5981
Processing row 270 of 5981
Processing row 280 of 5981
Processing row 290 of 5981
Processing row 300 of 5981
Processing row 310 of 5981
Processing row 320 of 5981
Processing row 330 of 5981
Processing row 340 of 5981
Processing row 350 of 5981
Processing row 360 of 5981
Processing row 370 of 5981
Processing row 380 of 5981
Processing row 390 of 5981
Processing row 400 of 5981
Processing row 410 of 5981
Processing row 420 of 5981
Processing row 430 of 5981
Processing row 440 of 5981
Processing row 450 of 5981
Processing row 460 of 5981
Processing row 470 of 5981
Processing row 480 of 5981
Processing row 490 of 5981
Processing row 500 of 5981
Processing row 510 of 5981
Processing row 520 of 5981
Processing row 530 of 5981
Processing row 540 of 5981
Processing row 550 of 5981
Processing row 560 of 5981
Processing row 570 of 5981
Processing row 580 of 5981
Processing row 590 of 5981
Processing row 600 of 5981
Processing row 610 of 5981
Processing row 620 of 5981
Processing row 630 of 5981
Processing row 640 of 5981
Processing row 650 of 5981
Processing row 660 of 5981
Processing row 670 of 5981
Processing row 680 of 5981
Processing row 690 of 5981
Processing row 700 of 5981
Processing row 710 of 5981
Processing row 720 of 5981
Processing row 730 of 5981
Processing row 740 of 5981
Processing row 750 of 5981
Processing row 760 of 5981
Processing row 770 of 5981
Processing row 780 of 5981
Processing row 790 of 5981
Processing row 800 of 5981
Error at time: 1995-07-01 and county_muni_code: US35001, ser: NJ, species: bovine
Error at time: 1995-05-01 and county_muni_code: US35013, ser: NJ, species: nan
Processing row 810 of 5981
Error at time: 1995-07-01 and county_muni_code: US08083, ser: NJ, species: bovine
Processing row 820 of 5981
Error at time: 1995-10-01 and county_muni_code: US08105, ser: NJ, species: bovine
Error at time: 1995-07-01 and county_muni_code: US35045, ser: NJ, species: bovine
Error at time: 1995-06-01 and county_muni_code: US35061, ser: NJ, species: bovine
Processing row 830 of 5981
Processing row 840 of 5981
Processing row 850 of 5981
Processing row 860 of 5981
Error at time: 1997-10-01 and county_muni_code: US08001, ser: IN, species: equine
Error at time: 1997-10-01 and county_muni_code: US08001, ser: NJ, species: equine
Error at time: 1997-10-01 and county_muni_code: US08005, ser: NJ, species: equine
Processing row 870 of 5981
Error at time: 1997-06-01 and county_muni_code: US35001, ser: IN, species: equine
Error at time: 1997-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Processing row 880 of 5981
Error at time: 1997-08-01 and county_muni_code: US08021, ser: IN, species: equine
Error at time: 1997-07-01 and county_muni_code: US35013, ser: IN, species: equine
Error at time: 1997-08-01 and county_muni_code: US08043, ser: IN, species: equine
Error at time: 1997-09-01 and county_muni_code: US08043, ser: IN, species: equine
Error at time: 1997-10-01 and county_muni_code: US08043, ser: NJ, species: equine
Processing row 890 of 5981
Error at time: 1997-08-01 and county_muni_code: US08067, ser: IN, species: equine
Error at time: 1997-08-01 and county_muni_code: US08069, ser: IN, species: equine
Error at time: 1997-09-01 and county_muni_code: US08069, ser: IN, species: equine
Processing row 900 of 5981
Error at time: 1997-10-01 and county_muni_code: US04013, ser: IN, species: equine
Error at time: 1997-08-01 and county_muni_code: US08083, ser: IN, species: equine
Error at time: 1997-08-01 and county_muni_code: US08083, ser: NJ, species: equine
Error at time: 1997-09-01 and county_muni_code: US35033, ser: IN, species: equine
Error at time: 1997-09-01 and county_muni_code: US08087, ser: IN, species: equine
Processing row 910 of 5981
Error at time: 1997-10-01 and county_muni_code: US08097, ser: IN, species: equine
Error at time: 1997-10-01 and county_muni_code: US08097, ser: NJ, species: equine
Error at time: 1997-07-01 and county_muni_code: US08101, ser: IN, species: equine
Error at time: 1997-09-01 and county_muni_code: US49037, ser: IN, species: equine
Error at time: 1997-11-01 and county_muni_code: US35045, ser: IN, species: equine
Error at time: 1997-06-01 and county_muni_code: US35043, ser: IN, species: equine
Processing row 920 of 5981
Error at time: 1997-07-01 and county_muni_code: US35049, ser: IN, species: equine
Error at time: 1997-07-01 and county_muni_code: US35049, ser: IN, species: equine
Error at time: 1997-09-01 and county_muni_code: US49047, ser: IN, species: equine
Error at time: 1997-10-01 and county_muni_code: US49047, ser: IN, species: equine
Error at time: 1997-07-01 and county_muni_code: US35061, ser: IN, species: equine
Processing row 930 of 5981
Error at time: 1997-10-01 and county_muni_code: US08123, ser: NJ, species: equine
Error at time: 1998-07-01 and county_muni_code: US08013, ser: IN, species: equine
Error at time: 1998-06-01 and county_muni_code: US35003, ser: IN, species: equine
Processing row 940 of 5981
Processing row 950 of 5981
Error at time: 1998-09-01 and county_muni_code: US08069, ser: IN, species: equine
Processing row 960 of 5981
Error at time: 1998-05-01 and county_muni_code: US35035, ser: IN, species: equine
Processing row 970 of 5981
Processing row 980 of 5981
Error at time: 1998-07-01 and county_muni_code: US08123, ser: IN, species: equine
Error at time: 1998-09-01 and county_muni_code: US08123, ser: IN, species: equine
Processing row 990 of 5981
Processing row 1000 of 5981
Processing row 1010 of 5981
Processing row 1020 of 5981
Error at time: 2004-07-01 and county_muni_code: US08001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08001, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08001, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08001, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08001, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08001, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US48019, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Processing row 1030 of 5981
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US35001, ser: NJ, species: equine
Processing row 1040 of 5981
Error at time: 2004-08-01 and county_muni_code: US35001, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Processing row 1050 of 5981
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: equine
Processing row 1060 of 5981
Error at time: 2004-09-01 and county_muni_code: US08013, ser: NJ, species: bovine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Processing row 1070 of 5981
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-11-01 and county_muni_code: US08013, ser: NJ, species: equine
Error at time: 2004-11-01 and county_muni_code: US08013, ser: NJ, species: equine
Processing row 1080 of 5981
Error at time: 2004-07-01 and county_muni_code: US08023, ser: NJ, species: equine
Error at time: 2004-06-01 and county_muni_code: US48127, ser: NJ, species: equine
Error at time: 2004-06-01 and county_muni_code: US08035, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08035, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08035, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08035, ser: NJ, species: equine
Error at time: 2004-05-01 and county_muni_code: US35015, ser: NJ, species: equine
Error at time: 2004-05-01 and county_muni_code: US35015, ser: NJ, species: equine
Processing row 1090 of 5981
Error at time: 2004-06-01 and county_muni_code: US35015, ser: NJ, species: equine
Error at time: 2004-06-01 and county_muni_code: US35015, ser: NJ, species: equine
Error at time: 2004-06-01 and county_muni_code: US35015, ser: NJ, species: equine
Error at time: 2004-06-01 and county_muni_code: US35015, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08041, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08041, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08041, ser: NJ, species: equine
Error at time: 2004-11-01 and county_muni_code: US08041, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Processing row 1100 of 5981
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: bovine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: camelid-alpaca
Processing row 1110 of 5981
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08043, ser: NJ, species: equine
Error at time: 2004-11-01 and county_muni_code: US08043, ser: NJ, species: bovine
Error at time: 2004-06-01 and county_muni_code: US35017, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08055, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08055, ser: NJ, species: equine
Processing row 1120 of 5981
Error at time: 2004-08-01 and county_muni_code: US08055, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08059, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08059, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08059, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08059, ser: NJ, species: bovine
Error at time: 2004-09-01 and county_muni_code: US08059, ser: NJ, species: equine
Error at time: 2004-06-01 and county_muni_code: US48265, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US48265, ser: NJ, species: equine
Processing row 1130 of 5981
Error at time: 2004-08-01 and county_muni_code: US48265, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US48265, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08067, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08067, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08067, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08067, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08067, ser: NJ, species: equine
Error at time: 2004-07-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Processing row 1140 of 5981
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: bovine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: bovine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Processing row 1150 of 5981
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-08-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08069, ser: NJ, species: bovine
Error at time: 2004-09-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08069, ser: NJ, species: equine
Processing row 1160 of 5981
Error at time: 2004-09-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08069, ser: NJ, species: bovine
Error at time: 2004-09-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-09-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Processing row 1170 of 5981
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: bovine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-10-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-11-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-11-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-11-01 and county_muni_code: US08069, ser: NJ, species: equine
Error at time: 2004-06-01 and county_muni_code: US08071, ser: NJ, species: equine

IndexError: index 0 is out of bounds for axis 0 with size 0

In [ ]:
out_file = "../main_data/VSV_dynamic_data.pkl"
with open(out_file, "wb") as f:
    pickle.dump(df, f)